.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.counter-value {
  font-size: 40px;
}

.counter-controlers {
  display: flex;
  gap: 8px;
}

.counter-controlers > button {
  padding: 8px 12px;
  cursor: pointer;
}
